<div class="row">
    <div class="col-lg-4">
        <div class="card bg-primary text-white" id="teachercard">
            <div class="card-body">
                <form #score=ngForm (ngSubmit)="getscore(score.value)">
                    <label>ID</label>
                    <input type="text" name="id" ngModel>
                    <input type="submit" value="submit" /> {{studentscore}}
                </form>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-primary text-white" id="questioncard">
            <div class="card-body">
                <form>
                    <label>Exam</label>
                    <button type="submit" routerLink="/exam">Go</button>
                </form>
            </div>
        </div>
    </div>
</div>