<div class="row">
    <div class="col-lg-4">
        <div class="card bg-primary text-white" id="studentcard">
            <img class="card-img-top" src="/assets/thumbnail2.jpg" alt="Card image cap">
            <div class="card-body">
                <h3>Create</h3>
                <h3>Update</h3>
                <h3>Delete</h3>
                <h3>All</h3>
                <h3>Single</h3>
                <button class="btn" (click)="student()">Student</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-primary text-white" id="teachercard">
            <img class="card-img-top" src="/assets/thumbnail2.jpg" alt="Card image cap">
            <div class="card-body">
                <h3>Create</h3>
                <h3>Update</h3>
                <h3>Delete</h3>
                <h3>All</h3>
                <h3>Single</h3>
                <button class="btn" (click)="student()">Teacher</button>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-primary text-white" id="questioncard">
            <img class="card-img-top bg-primary" src="/assets/exampaper3.jpg" alt="Card image cap">
            <div class="card-body">
                <h3>Create</h3>
                <h3>Update</h3>
                <h3>Delete</h3>
                <h3>All</h3>
                <h3>Single</h3>
                <button class="btn" (click)="questions()">Questions</button>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>